[build]
  command = "cd \"OneDrive/Escritorio/mi bodeguita\" && npm run build"
  publish = "OneDrive/Escritorio/mi bodeguita/dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = true

